<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Diaris!</title>
</head>

<body>

    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Inici</a></li>
                <li><a href="/lavanguardia/deportes">Deportes</a></li>
                <li><a href="/lavanguardia/politica">Política</a></li>
                <li><a href="/lavanguardia/vida">Vida</a></li>
                <li><a href="/lavanguardia/cultura">Cultura</a></li>
                <li><a href="/lavanguardia/opinion">Opinión</a></li>
            </ul>
        </nav>
    </header>


    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="/static/img/diaris.jpg" alt="Diaris">
            </div>
            <div class="carousel-slide">
                <img src="/static/img/diari_antic.jpeg" alt="Diari Antic">
            </div>
            <div class="carousel-slide">
                <img src="/static/img/icon.jpeg" alt="Icona de La Vanguardia">
            </div>
            <div class="carousel-slide">
                <img src="/static/img/premis.jpeg" alt="Premis">
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Aplicació RSS - Tots els drets reservats</p>
    </footer>
</body>

</html>